#product-info-and-images {
  margin: auto;
  width: 1260px;
  position: relative;
}

#product_images {
  display: inline-block;
  position: relative;
  width: 600px;
  margin-right: 5px;
}

#sales {
  display: inline-block;
  position: relative;
  top: -70px;
  width: 650px;
}

#carousel {
  padding-top: 10px;
  margin-bottom: 170px;
  background-color: rgb(247, 247, 247);
}

